@media (max-width:991px) {
    header{
        background-size: 50%;
        background-repeat: no-repeat;
        height: 70px;
    }
    h1{
        font-size: 35px;
    }
    .container{
        width: 95%;
    }
    .about-content .count{
        border: none !important;
    }
    h2{
        font-size: 30px;
    }
    .portfolio .nav-link{
        margin-bottom: 15px;
    }
    .cv .col-md-6{
        margin-bottom: 25px;

    }
    .testimonials .item{
        margin-bottom: 25px;
    }

}
@media (max-width:768px) {
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 30px;
    }
    .cv{
        text-align: center;
    }
    .contact .container > p{
        width: 100%;
    }
    .map .contact-info{
        width: auto;
    }
    footer {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    }
    
